<h1>Listing tasks</h1>

<%= link_to 'New Task', new_task_path, :class => 'new_task' %>
<div class="tasks">
  <%= render :partial => "task", :collection => @tasks %>
</div>

<%= render :partial => 'form', :locals => {:task => Task.new, :type => 'new' } %>
<%= render :partial => 'form', :locals => {:task => (Task.last || Task.new), :type => 'edit' } %>

